{{!-- <section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Edit Category</h2>
                <form action="/admin/edit-category/{{category._id}}" method="post" enctype="multipart/form-data">

                    <label for="category">Category</label>



                    <input type="text" name="category" class="form-control" value="{{category.category}}">






                    <label for="image">Image</label>
                    <img src="/category-images/{{category._id}}.jpg" alt="" style="width:50px;height:50px" id="imgView">
                    <input type="file" name="image" class="form-control" onchange="viewImage(event)">

                    <label for="quantity">Quantity</label>
                    <input type="text" name="quantity" class="form-control" value="{{category.quantity}}">





                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>

</section>

<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }
</script> --}}








<section>
    <div class="container">

        <div class="row justify-content-center">







            <div class="col-md-6 mt-5" style="margin-left: -720px;">

                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Product/</span>Edit Category</h4>
                {{!-- <form action="/admin/add-product" method="post" enctype="multipart/form-data"> --}}

                    <form action="/admin/edit-category/{{category._id}}" method="post" enctype="multipart/form-data">
                        <div class="card mb-4" style="width:1400px;">

                            <div class="card-body" style="width:1400px;">
                                {{!-- <div style="padding-left:100px">
                                    

                                </div> --}}

                                <div>

                                    <label for="category" class="form-label">Category</label>
                                    <input type="text" class="form-control" id="defaultFormControlInput"
                                        aria-describedby="defaultFormControlHelp" name="category" value="{{category.category}}"/>
                                
                                
                                </div>  

                            
                                

                                <div class="mb-3">
                                    <label for="image" class="form-label">Image</label>
                                    <img src="/category-images/{{category._id}}.jpg" alt=""
                                        style="width: 50px; height:50px; margin-bottom:10px;" id="imgView">
                                    <input class="form-control" type="file" id="formFile" name="image"
                                        onchange="viewImage(event)" />



                                </div>
                                <div>
                                    <label for="quantity" class="form-label">Quantity</label>
                                    <input type="text" class="form-control" id="defaultFormControlInput"
                                        aria-describedby="defaultFormControlHelp" name="quantity"
                                        value="{{category.quantity}}" />



                                </div>

                                <button type="submit" class="btn btn-success mt-4"
                                    style="margin-left: 1260px;">Submit</button>

                            </div>
                        </div>
                    </form>
            </div>










            

        </div>

    </div>
</section>
<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }
</script>