





<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="user/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="user/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="user/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span
                            class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
           
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span
                                class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/home" class="nav-item nav-link active">Home</a>
                            <a href="/products" class="nav-item nav-link">Product</a>
                            <a href="/orders" class="nav-item nav-link">Order</a>
                            <a href="/wishlist" class="nav-item nav-link">Wishlist</a>
                            <a href="/cart" class="nav-item nav-link">Cart</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                            {{!-- <a href="" class="nav-item nav-link">Login</a>
                            <a href="" class="nav-item nav-link">Register</a> --}}
                            <div class="dropdown" style="margin-left: 1400px;">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="background-color: #FE7A15; color:white;">
                                    {{#if user}}
                                    {{user.name}}
                                    {{else}}
                                    Account
                                    {{/if}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {{#if user}}
                                    <a class="dropdown-item" href="/profile">Profile</a>
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                    {{else}}
                                    <a class="dropdown-item" href="/login">Login</a>
                                    {{/if}}
                                    <a class="dropdown-item" href="/signup">Register</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

                <section >


                    <div class="container mt-5" >

                        <div class="row" >
                            <div class="" style="">
                                <div class="card mb-4" style="border-color: #A7AEB4; margin-left: 300px; width:1000px;" >
                                    <div class="card-header d-flex justify-content-between align-items-center" style="background-color:#FFB30E;">
                                        <h5 class="mb-0">EDIT ADDRESS</h5>
                                        {{!-- <small class="text-muted float-end">Default label</small> --}}
                                    </div>
                                    <div class="card-body" >
                                        <form action="/edit-address/{{address._id}}" method="post">
                                            <div class="mb-3">
                                                <label class="form-label" for="basic-default-fullname">Name</label>
                                                <input type="text" class="form-control" name="name"
                                                    id="basic-default-fullname" style="border-color: #A7AEB4;" value="{{address.name}}" />
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label" for="basic-default-message">Address</label>
                                                <input id="basic-default-message" class="form-control" name="address"
                                                    style="border-color: #A7AEB4;"  value="{{address.address}}"  />
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label" for="basic-default-phone">Phone</label>
                                                <input type="text" id="basic-default-phone"
                                                    class="form-control phone-mask" name="phone" {{!--
                                                    placeholder="658 799 8941" --}}style="border-color: #A7AEB4;" value="{{address.phone}}" />
                                            </div>

                                            <button type="submit" class="btn btn-primary" style="margin-left: 825px;">EDIT ADDRESS</button>
                                            {{!-- <a href="/place-order" class="btn btn-block btn-primary my-3 py-3">ADD ADDRESS</a> --}}
                                        </form>
                                    </div>
                                </div>
                            </div>

                            {{!-- <div class="col-md-4"> --}}

                            {{!-- <div class="input-group">
                                <input type="text" class="form-control p-4" placeholder="Coupon Code">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">Apply Coupon</button>
                                </div>
                            </div> --}}

                            {{!-- <div class="card border-secondary mb-5 mt-3">
                                <div class="card-header bg-secondary border-0">
                                    <h4 class="font-weight-semi-bold m-0">Price Details</h4>
                                </div>

                                <div class="card-footer border-secondary bg-transparent">
                                    <div class="d-flex justify-content-between mt-2">
                                        <h5 class="font-weight-bold">Total Amount</h5>
                                        <h5>Rs.<span class="font-weight-bold">{{total}}</span></h5>
                                    </div> --}}
                                    {{!-- <div>
                                        <div>
                                            <label class="radio-inline">
                                                <input type="radio" name="payment-method" value="COD" checked>COD
                                            </label>
                                        </div>
                                        <div>
                                            <label class="radio-inline">
                                                <input type="radio" name="payment-method" value="ONLINE" checked>Online
                                                Payment
                                            </label>
                                        </div>

                                    </div> --}}

                                    {{!-- <a href="/place-order" class="btn btn-block btn-primary my-3 py-3">Proceed To
                                        Checkout</a> --}}
                                {{!-- </div> --}}
                            </div>
                        </div>

                        </div>

                        
                    </div>






            </div>



            </section>